# READORA Environment Configuration Template
# Set these variables in your system environment or IDE Run Configuration

DB_URL=jdbc:mysql://gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/readora?sslMode=VERIFY_IDENTITY
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password

JWT_SECRET=your_jwt_secret_key_here
